:root{
    /* color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-gray: #4d4d4d;
    --color-gray: #616161;
    --color-light-gray: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;
    --color-purple: #4d2c91;
    --color-light-purple: #7e57c2; 
    --color-light-deep-purple: #b39ddb;
    --color-deep-purple: #4d2c91;
    --color-purple-2: #9c27b0;
    
    /* font-size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* font-weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* size */
    --size-border-radius: 4px;

    /* animation */
    --animation-duration: 200ms;
}

body {
    display: block;
    color: #ffffff;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: large;
    -webkit-text-stroke: 1px var(--color-black);
}

ul {
    display: block;
    padding: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

ul.js-todoList{
    list-style-type: none;
}

script{
    display: none;
}

h1 {
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

button {
    outline: none;
    border: none;
    background: none;
}


.form,
.greeting{
    display: none;
}

.showing{
    display: block;
}

.js-clock{
    font-size: var(--font-medium);
    margin-top: 200px;
    margin-bottom: 70px; 
}

.js-weather {
    text-align: right;
    margin-right: 10px;
    font-size: large;
    font-weight: 500;
}

.bgImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    animation: fadeIn 2s linear;
}

.btn {
    cursor: pointer;
}

.clicked {
    color: #7f8c8d;
}


@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
